appdirs==1.4.3
asn1crypto==0.22.0
cffi==1.10.0
chardet==3.0.4
colorama==0.3.9
configobj==5.0.6
cryptography==2.0
cupshelpers==1.0
decorator==4.1.2
Django==1.11.4
django-paypal==0.3.6
docutils==0.13.1
idna==2.5
lightdm-gtk-greeter-settings==1.2.1
louis==3.0.0
mate-tweak==17.10.4
npyscreen==4.10.5
oauthlib==2.0.2
olefile==0.44
packaging==16.8
pacman-mirrors==4.2.0
paypal==1.2.5
Pillow==4.2.1
ply==3.10
psutil==5.2.1
pycairo==1.13.3
pycparser==2.18
pycups==1.9.73
pycurl==7.43.0
pygobject==3.24.1
pyparsing==2.2.0
pytz==2017.2
requests==2.18.1
requests-oauthlib==0.8.0
setproctitle==1.1.10
six==1.10.0
speedtest-cli==1.0.6
team==1.0
thefuck==3.19
urllib3==1.21.1
uWSGI==2.0.15
